<div class="modal-header">
    <h4 class="modal-title">Add Admin</h4>
    <button type="button" class="btn btn-lg" aria-label="Close" (click) = "cancel()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <label class="control-label">Username</label>
        <input type="text" class="form-control" id ="username" [(ngModel)] = "admin.Username" [(disabled)]="usernameDisabled"/>
    </div>
    <div class="form-group" [hidden]="newAdmin">
        <label class="control-label">Old Password</label>
        <input type="text" class="form-control" id ="oldPassword" [(ngModel)] = "oldPassword"/>
    </div>
    <div class="form-group">
        <label class="control-label">Password</label>
        <input type="text" class="form-control" id ="password" [(ngModel)] = "admin.Password"/>
    </div>
    <div class="form-group">
        <label class="control-label">Confirm Password</label>
        <input type="text" class="form-control" id ="confirmPassword" [(ngModel)] = "confirmPassword"/>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-link" (click) = "cancel()">Cancel</a>
    <button type="button" class="btn btn-primary" (click) = "nextButton()">Create Admin</button>
</div>
 