<div class="modal-header">
    <h4 class="modal-title">Add Pass</h4>
    <button type="button" class="btn btn-lg" aria-label="Close" (click) = "cancel()"><span aria-hidden="true">&times;</span></button>
</div>
<div class="modal-body form-horizontal">
    <div class="form-group">
        <label class="control-label">Pass Color</label>
        <input type="text" class="form-control" id ="passColor" [(ngModel)] = "passColor"/>
    </div>
</div>
<div class="modal-footer">
    <a class="btn btn-link" (click) = "cancel()">Cancel</a>
    <button type="button" class="btn btn-primary" (click) = "nextButton()">Create Pass</button>
</div>
 